.jet-details {
  .jet-title {
    font-size: 2.5rem;
    color: #8c644b;
    font-weight: bold;
    text-transform: uppercase;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .jet-model {
    font-size: 1.8rem;
    color: #8c644b;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }

  .jet-price,
  .jet-availability,
  .jet-capacity {
    font-size: 1.2rem;
    margin-top: 10px;
  }
}
