.jet-details {
  background-color: #f8f1e7; /* Couleur de fond */
  padding: 20px;
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Légère ombre */
}

.jet-image {
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombre */
}

.reservation-form {
  background-color: #fff; /* Fond blanc pour le formulaire */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
}

.action-buttons .btn {
  display: block;
  width: 100%; /* Boutons larges */
  margin-bottom: 10px;
}
