<h1>Your bookings:</h1>
<ul>
  <li>
  <% @bookings.each do |booking| %>
  <%= booking.start_date %>
  <%= booking.end_date %>
  <%= booking.status %>
  <%= booking.special_requests %>
  <% end %>
  </li>
</ul>
