<!-- app/views/pages/dashboard.html.erb -->

<div class="container mt-5">
  <h1 class="text-center">Bienvenue sur votre Dashboard</h1>
  <p class="text-center">Voici un aperçu de vos informations :</p>

  <!-- Exemple de contenu -->
  <div class="mt-4">
    <h2>Vos jets</h2>
    <% if @jets.present? %>
      <ul>
        <% @jets.each do |jet| %>
          <li><%= link_to jet.model, jet_path(jet) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>Vous n'avez pas encore de jets enregistrés.</p>
    <% end %>
  </div>

  <div class="mt-4">
    <h2>Vos réservations</h2>
    <% if @bookings.present? %>
      <ul>
        <% @bookings.each do |booking| %>
          <li>Réservation au départ de <%= booking.airport %>, du <%= booking.start_date %> au <%= booking.end_date %></li>
        <% end %>
      </ul>
    <% else %>
      <p>Vous n'avez pas encore de réservations.</p>
    <% end %>
  </div>
</div>
