<div class='container'>
  <div class='row text-center m-5'>
    <h1>Bienvenue sur Jets Rent !</h1>
    <h2>L'application qui vous permet de louer un jet pour vos voyages</h2>
  </div>
</div>

<%#= render '' %>
