/* Style pour les boutons personnalisés */

/* Bouton principal */
.btn-jet-primary {
  background-color: #8c644b; /* Marron principal */
  color: #fff; /* Texte en blanc */
  padding: 10px 20px; /* Espacement interne */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  font-weight: bold; /* Texte en gras */
  text-transform: uppercase; /* Texte en majuscule */
  transition: background-color 0.3s ease; /* Transition douce pour l'effet hover */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Légère ombre */
}

.btn-jet-primary:hover {
  background-color: #a57157; /* Couleur légèrement plus claire au survol */
  text-decoration: none; /* Pas de soulignement au survol */
}

/* Bouton secondaire */
.btn-jet-secondary {
  background-color: #e0e0e0; /* Gris clair */
  color: #000; /* Texte noir */
  padding: 10px 20px; /* Espacement interne */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  font-weight: bold; /* Texte en gras */
  text-transform: uppercase; /* Texte en majuscule */
  transition: background-color 0.3s ease; /* Transition douce pour l'effet hover */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Légère ombre */
}

.btn-jet-secondary:hover {
  background-color: #cccccc; /* Couleur légèrement plus foncée au survol */
  text-decoration: none; /* Pas de soulignement au survol */
}
