.navbar-lewagon {
  justify-content: space-between;
  background: #040307;

  .navbar-brand img {
    width: 40px;
    cursor: pointer; /* Permet d'indiquer que l'image est cliquable */
  }

  .nav-link {
    color: white;
    &:hover {
      color: #8c644b; /* Ajoute un effet hover pour améliorer le design */
    }
  }
}
