h1 {
  color: #8c644b;
  font-size: 2.5rem;
}

.btn-primary {
  background-color: #8c644b;
  border-color: #d3bfa7;
}

.btn-secondary {
  color: #333;
  background-color: #f8f9fa;
  border-color: #ddd;
}

.btn-outline-primary {
  color: #f8f9fa;
  background-color: #8c644b;
}

body {
  background-color: #d3bfa7;
}

a {
  color: #151414;
}

.btn-primary {
  background-color: #8c644b;
  border-color: #d3bfa7;
}
