// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css";


h1 {
  color: #f66505;
  font-size: 2.5rem;
  font-weight: 800;
}



.btn-primary:hover {
  background-color:#9e816e;
}

.btn-secondary {
  color: #e4cccc;
  background-color: #f8f9fa;
  border-color: #ddd;
}

.btn-outline-primary {
  color: #f8f9fa;
  background-color: #8c644b;
}

body {
  background-color: #d3bfa7
}

a {
   color: #151414;
}

/* Styles pour la bannière */
.banner {
  background-image: url('https://img.freepik.com/photos-gratuite/avion-est-piste-mention-jet-prive-devant_188544-8032.jpg?t=st=1732106120~exp=1732109720~hmac=873f31fddc115deccafc70dd0b1f047d8135659bdf7d6ebae62eae0618b8ec3c&w=2000'); /* Image de fond pour la bannière */
  background-size: cover;
  background-position: center;
  height: 75vh; /* Hauteur ajustable */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(230, 228, 228);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.banner-content {
  text-align: center;
  padding: 20px;
}

.banner-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 20rem;
  font-weight: 300;
  padding-top: 100px;
}

.banner-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

// home page
.banner {
  position: relative;
  background-image: url("https://www.carenews.com/sites/default/files/styles/large_actualites/public/2023-11/Design%20sans%20titre%20%282%29_0.png");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 20px;

  .banner-content {
    background-color: rgba(0, 0, 0, 0.6); /* Ajout d'un filtre sombre pour le texte */
    display: inline-block;
    padding: 20px 40px;
    border-radius: 10px;
  }

  .banner-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .banner-subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .btn-primary {
    background-color: #8c644b;
    border-color: #8c644b;
    &:hover {
      background-color: #704c3a;
      border-color: #704c3a;
    }
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    &:hover {
      background-color: #5a6268;
      border-color: #5a6268;
    }
  }
}

.card {
  border: none;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .card-text {
    color: #6c757d;
  }
}
