// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


h1 {
  color: #f66505;
  font-size: 2.5rem;
  line-height: 100rem;
  font-weight: 800;
}



.btn-primary:hover {
  background-color:#9e816e;
}

.btn-secondary {
  color: #c8c5c5;
  background-color: #f8f9fa;
  border-color: #ddd;
}

.btn-outline-primary {
  color: #f8f9fa;
  background-color: #8c644b;
}

body {
  background-color: #d3bfa7
}

a {
   color: #151414;
}

/* Styles pour la bannière */
.banner {
  background-image: url('https://img.freepik.com/photos-gratuite/avion-est-piste-mention-jet-prive-devant_188544-8032.jpg?t=st=1732106120~exp=1732109720~hmac=873f31fddc115deccafc70dd0b1f047d8135659bdf7d6ebae62eae0618b8ec3c&w=2000'); /* Image de fond pour la bannière */
  background-size: cover;
  background-position: center;
  height: 75vh; /* Hauteur ajustable */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(230, 228, 228);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.banner-content {
  text-align: center;
  padding: 20px;
}

.banner-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 20rem;
  font-weight: 300;
  padding-top: 100px;
}

.banner-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(243, 240, 240);
  transition: all 0.3s ease;

}

.btn-primary:hover {
  background-color: #cba165;
  border-color: #cba165;
}

